---
layout: default
---

<!-- Hero -->
<div class="home__hero">
  <div class="grid-container grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10 medium-10 cell text-center">
      <h1 class="secondary-font-italic white">{{page.hero}}</h1>
    </div>
  </div>


<video playsinline autoplay muted loop poster="assets/videos/video.jpg" id="bgvid">
  <source src="assets/videos/video.webm" type="video/webm">
  <source src="assets/videos/video.mp4" type="video/mp4">
</video>

</div> 
<!-- End Hero -->

<!-- Intro -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-10 cell text-center">
      <h2 class="secondary-font-italic">{{page.content}}</h2>
    </div>
  </div>
</div>
<!-- End Intro -->

<!-- Services -->
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y">
  
  <div class="small-10 small-offset-1 medium-3 medium-offset-0 cell">
  <h4>Services</h4>
  </div>
  
  <div class="small-10 small-offset-1 medium-9 medium-offset-0 cell">
  {% assign services = site.services | sort: 'position' %}
  {% for service in services %}
  <div class="margin-bottom-2">
  <h4>{{ service.title }}</h4>
  <h5 class="secondary-color">{{ service.subtitle }}</h5>
  <p>{{ service.excerpt }}</p>
  <a href="{{ service.url }}" class="plus">More</a>
  </div>
  {% endfor %}
  </div>

</div>
</div>
<!-- End Services -->
