---
layout: default
---

<!-- Service Intro -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-10 cell text-center medium-text-left">
      <h2 class="secondary-font margin-bottom-2">{{ page.title }}</h2>
      <h3 class="margin-bottom-2">{{ page.subtitle }}</h3>
      {{ page.content }}
    </div>
  </div>
</div>
<!-- End Service Intro -->

<div class="grid-container">
{% assign category = page.url | replace: 'services', '' | remove: "/" %}
{% if category == 'artist' %}
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">   
    {% assign clients = site.clients | sort: 'position' | where: "is-artist-featured", "true" %}
    {% for client in clients %}     
      <div class="cell">
       {% include client-excerpt.html %}
      </div>
    {% endfor %}  
  </div>
{% elsif category == 'events' %}
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
    {% assign clients = site.clients | sort: 'position' | where: "is-events-featured", "true" %}
    {% for client in clients %}  
      <div class="cell">
       {% include client-excerpt.html %}
      </div> 
    {% endfor %}  
  </div>
{% elsif category == 'radio' %}
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
    {% assign clients = site.clients | sort: 'position' | where: "is-radio-featured", "true" %}
    {% for client in clients %}     
      <div class="cell">
       {% include client-excerpt.html %}
      </div>
    {% endfor %}  
  </div>
{% elsif category == 'digital' %}
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
    {% assign clients = site.clients | sort: 'position' | where: "is-digital-featured", "true" %}
    {% for client in clients %}    
      <div class="cell">
       {% include client-excerpt.html %}
      </div>     
    {% endfor %}  
  </div>
{% elsif category == 'club' %}
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
    {% assign clients = site.clients | sort: 'position' | where: "is-club-featured", "true" %}
    {% for client in clients %}       
      <div class="cell">
       {% include client-excerpt.html %}  
      </div> 
    {% endfor %}  
  </div>
{% endif %}
</div>


<div class="grid-container padding-vertical-2">
<!-- Clients List -->
  <!-- Clients Category - Festivals -->
    <div class="grid-x grid-padding-x grid-padding-y padding-vertical-2">
      
      <div class="small-12 medium-3 cell">
        <h3 class="secondary-font text-center medium-text-left">Festivals</h3>
      </div>
      
      <div class="small-12 medium-9 cell">
        <div class="grid-x grid-padding-x small-up-2 medium-up-3"> 
          {% assign category = page.url | replace: 'services', '' | remove: "/" %}
          {% assign clients = site.clients | sort: 'title' %}
          
          {% for client in clients %}
            {% if client.categories contains category %}    
              {% if client.tags contains 'festival' %}
              <div class="small-12 cell">          
                {% if client.website %}<a href="{{ client.website }}" target="_blank">{% elsif client.facebook %}<a href="{{ client.facebook }}" target="_blank">{% else %}<a href="{{ client.twitter }}" target="_blank">{% endif %}{{client.title}}</a>
              </div>
              {% endif %}
            {% endif %}
          {% endfor %} 
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Festivals -->
  
  <!-- Clients Category - Venues -->
    <div class="grid-x grid-padding-x grid-padding-y padding-vertical-2">
      
      <div class="small-12 medium-3 cell">
        <h3 class="secondary-font text-center medium-text-left">Venues + Brands</h3>
      </div>
      
      <div class="small-12 medium-9 cell">
        <div class="grid-x grid-padding-x small-up-2 medium-up-3"> 
          {% assign category = page.url | replace: 'services', '' | remove: "/" %}
          {% assign clients = site.clients | sort: 'title' %}
      
          {% for client in clients %}
          {% if client.categories contains category %}    
            {% if client.tags contains 'venue' %}
            <div class="small-12 cell">
              {% if client.website %}<a href="{{ client.website }}" target="_blank">{% elsif client.facebook %}<a href="{{ client.facebook }}" target="_blank">{% else %}<a href="{{ client.twitter }}" target="_blank">{% endif %}{{client.title}}</a>
            </div>
            {% endif %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Venues -->
</div>
<!-- End Clients List -->