---
layout: default
---

<!-- Services -->

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    
    <div class="small-10 medium-3 cell">
      <h4>Services</h4>
    </div>
    
    <div class="small-10 medium-9 cell">
      {% assign services = site.services | sort: 'position' %}
      {% for service in services %}
      <div class="margin-bottom-2">
      <h4>{{ service.title }}</h4>
      <h5>{{ service.subtitle }}</h5>
      <p>{{ service.content }}</p>
      <div class="index__more">
        <a href="{{ service.url }}" class="plus">More</a>
      </div>
      </div>
      {% endfor %}
    </div>
  
  </div>
</div>
<!-- End Services -->


