---
layout: default
---

<!-- Intro -->
<div class="grid-container padding-top-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-10 medium-9 cell text-center">
      <h2 class="secondary-font-italic">{{page.intro}}</h2>
    </div>
  </div>
</div>
<!-- End Intro -->

<!-- People -->
<div class="grid-container padding-vertical-2">
  <div class="grid-x grid-padding-x grid-padding-y">  
    {% assign teams = site.team | sort: 'position' %}
    {% for team in teams %}  
    <div class="small-10 medium-6 cell">
    <h3 class="secondary-font">{{team.title}}</h3>
    <h5 class="primary-color">{{team.job-title}}</h5>
    {{team.content}}
    </div>
    {% endfor %}
  </div>
</div>
<!-- End People -->